laspy>=2.5.4
numpy>=1.26.0,<2.0
matplotlib>=3.8.0
pydantic>=2.9.0
torch>=2.2.0
plotly>=5.24.0
seaborn>=0.13.0
scikit-learn>=1.3.0
scipy
numpy-indexed
scikit-image
PyMaxflow
pandas
cut_pursuit_py
hdbscan>=0.8.0
lazrs
pyvista>=0.43.0